infi.systray>=0.1.11
numpy>=1.23.2
opencv-python>=4.5.1.48
pillow>=9.0.0
PyAutoGUI>=0.9.53
PyGetWindow>=0.0.9
PyMsgBox>=1.0.9
pypiwin32>=223
PyRect>=0.2.0
PyScreeze>=0.1.28
PyTweening>=1.0.4
pywin32>=305
win10toast>=0.9
